flask
flask-sqlalchemy
flask-login
flask-jwt-extended
flask-socketio
flask-mail
opencv-python-headless
pytesseract
Pillow
numpy
pandas
scikit-learn
passlib
PyJWT
python-dotenv
SQLAlchemy
Jinja2
gevent
gevent-websocket
requests
gunicorn
itsdangerous
